<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Uforgot</servlet-name>
        <servlet-class>Uforgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aforgot</servlet-name>
        <servlet-class>Aforgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sforgot</servlet-name>
        <servlet-class>Sforgot</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Uforgot</servlet-name>
        <url-pattern>/Uforgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aforgot</servlet-name>
        <url-pattern>/Aforgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sforgot</servlet-name>
        <url-pattern>/Sforgot</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
